<div class="card">
  <div class="card-body">
    <h3 class="card-title"><%= @friend.first_name %>   <%= @friend.last_name %> </h3>
    <h6 class="card-subtitle mb-2 text-muted">  <%= @friend.email %> </h6>
    <p class="card-text"> <%= @friend.phone %> |   <%= @friend.twitter %></p>
    <%= link_to 'Edit', edit_friend_path(@friend), class:'btn btn-primary' %> 
    <%= link_to 'Delete', @friend, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %>
    <%= link_to 'Back', friends_path, class:'btn btn-secondary' %>
  </div>
</div>